/*------------APPLIES TO ALL-------------*/
* {
    margin:0;
    padding:0;
}

html {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

/*--------------INDEX-----------------*/

.main-title {
	padding-top: 15%;
	color: white;
	text-align:center;
	font-size: 60px;
}

#inputform {
	color: white;
	font-weight: 300;
}

#inputform h3 { 
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
	font-weight: 400;
}

#inputform form {
	font-size: 30px; 
	font-weight: 300;
	text-align: center;
	padding-bottom: 40px;
}

#inputform .zip_code {
	width: 100px;
	border: 1px solid white;
	padding: 10px;
	font-size: 25px;
	border-radius: 5px;
	background: transparent;
	color: white;
} 	

::placeholder {
  color: white;
  font-size: 20px;
  text-align: center;
}

/*--------------LEAD ANALYSIS-----------------*/

#intro h1 { 
	text-align:center;
	font-size: 40px;
	padding-top: 30px;
}

#intro h2 {
	text-align: center;
}

.ny-lead-img {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
	width: 600px;
	padding: 30px;
}

.lead_analysis {
	background-color: #f5f5f5;
} 

/*------------LEAD INFO-------------*/ 








